[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiogram = "*"
confuse = "*"
aiopg = "*"
pyopenssl = "*"
emoji = "*"

[requires]
python_version = "3.8"
